<div
  class="editor-container"
  (drop)="onComponentDrop($event)"
  (dragover)="onDragOver($event)">
  <app-mark-line></app-mark-line>
  <app-area
    [rect]="selectionArea"
    [selectedCount]="selectedCount">
  </app-area>
  <app-shape
    *ngFor="let component of componentData$ | async; trackBy: trackByComponent"
    [component]="component"
    [editor]="this">
  </app-shape>

  <app-context-menu
    *ngIf="showContextMenu"
    [items]="multiSelectContextMenuItems"
    [x]="contextMenuX"
    [y]="contextMenuY"
    (closed)="closeContextMenu()">
  </app-context-menu>
</div>
