:host {
  display: block;
}

// 调整LOGO在header中的样式
app-logo {
  height: 100%;

  .logo-container {
    @apply h-16 flex items-center justify-start gap-3 px-0;
    padding: 0;
  }

  .brand-name {
    @apply text-gray-800 dark:text-white;
  }
}
